interactions:
- request:
    body: "--06d8d102a58fba0fb9ec885391d68a78\r\nContent-Disposition: form-data; name=\"attachment\";
      filename=\"/private/var/folders/7b/pp53qjrs5gd7nd68jk5c0chc0000gn/T/pytest-of-kaofelix/pytest-11/test_create_attachment_table_f0/test.txt\"\r\nContent-Type:
      application/octet-stream\r\n\r\nTest content\r\n--06d8d102a58fba0fb9ec885391d68a78--\r\n"
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - multipart/form-data; boundary=06d8d102a58fba0fb9ec885391d68a78
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/attachment
  response:
    body:
      string: '{"id":"ef808f11-ae17-4016-9d7c-beda8d75e51f.txt","version":"0","date":1769532330863,"name":"test.txt","title":"test.txt","extension":"txt","source":1,"thumbnail_small":null,"thumbnail_medium":null,"thumbnail_large":null,"url":"https://t90152245421.p.clickup-attachments.com/t90152245421/ef808f11-ae17-4016-9d7c-beda8d75e51f/test.txt","url_w_query":"https://t90152245421.p.clickup-attachments.com/t90152245421/ef808f11-ae17-4016-9d7c-beda8d75e51f/test.txt?view=open","url_w_host":"https://t90152245421.p.clickup-attachments.com/t90152245421/ef808f11-ae17-4016-9d7c-beda8d75e51f/test.txt"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769532389'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
