interactions:
- request:
    body: "--a8821533c6dacfc91979ce708f646c33\r\nContent-Disposition: form-data; name=\"attachment\";
      filename=\"/private/var/folders/7b/pp53qjrs5gd7nd68jk5c0chc0000gn/T/pytest-of-kaofelix/pytest-11/test_create_attachment_json_fo0/test.txt\"\r\nContent-Type:
      application/octet-stream\r\n\r\nTest content\r\n--a8821533c6dacfc91979ce708f646c33--\r\n"
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - multipart/form-data; boundary=a8821533c6dacfc91979ce708f646c33
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/attachment
  response:
    body:
      string: '{"id":"78eb12fc-adf0-4dec-80e7-dfebca97b2d5.txt","version":"0","date":1769532328993,"name":"test.txt","title":"test.txt","extension":"txt","source":1,"thumbnail_small":null,"thumbnail_medium":null,"thumbnail_large":null,"url":"https://t90152245421.p.clickup-attachments.com/t90152245421/78eb12fc-adf0-4dec-80e7-dfebca97b2d5/test.txt","url_w_query":"https://t90152245421.p.clickup-attachments.com/t90152245421/78eb12fc-adf0-4dec-80e7-dfebca97b2d5/test.txt?view=open","url_w_host":"https://t90152245421.p.clickup-attachments.com/t90152245421/78eb12fc-adf0-4dec-80e7-dfebca97b2d5/test.txt"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769532389'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
