interactions:
- request:
    body: ''
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
    method: GET
    uri: https://api.clickup.com/api/v2/team/90152245421/goal?include_completed=true
  response:
    body:
      string: '{"goals":[{"id":"e28a27f0-9571-4f9c-9f7a-4712f21b605e","pretty_id":"1","name":"Test
        CLI Goal","team_id":"90152245421","creator":272627274,"owner":null,"color":"#32a852","date_created":"1769470960912","start_date":null,"due_date":"1738368000000","description":"Test
        goal for CLI","private":false,"archived":false,"multiple_owners":true,"editor_token":"goal:e28a27f0-9571-4f9c-9f7a-4712f21b605e:854a8289-c57f-4e17-9403-eaca8bc352f5:57f35f4b-9ae1-461f-a511-a5a4a9a566d9","date_updated":"1769470960912","last_update":"1769470960912","folder_id":null,"role_subtype":0,"pinned":false,"owners":[],"key_result_count":0,"members":[],"group_members":[],"percent_completed":0}],"folders":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '1769471021'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
