interactions:
- request:
    body: '{"name":"Test Goal with Start Date","due_date":1738368000000,"description":"","multiple_owners":false,"owners":[],"color":"#32a852","start_date":1735689600000}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/team/90152245421/goal
  response:
    body:
      string: '{"goal":{"id":"2d2b35aa-e012-440d-8994-abd76f8c409a","pretty_id":"3","name":"Test
        Goal with Start Date","team_id":"90152245421","creator":272627274,"color":"#32a852","date_created":"1769471019342","start_date":"1735689600000","due_date":"1738368000000","description":"\n","private":false,"archived":false,"multiple_owners":false,"editor_token":"goal:2d2b35aa-e012-440d-8994-abd76f8c409a:a3d3fc17-ed48-4d0b-ba1d-9ee9785182e2:2ddf22eb-ad8e-432d-a5a7-bdf8f0bab420","date_updated":"1769471019342","folder_id":null,"folder_name":null,"role_subtype":0,"members":[],"group_members":[],"owners":[],"key_results":[],"key_result_count":0,"percent_completed":0,"history":[],"pretty_url":"https://app.clickup.com/90152245421/goals/3"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '95'
      x-ratelimit-reset:
      - '1769471021'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
