interactions:
- request:
    body: '{"name":"Goal to Delete","due_date":1738368000000,"description":"","multiple_owners":false,"owners":[],"color":"#32a852"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/team/90152245421/goal
  response:
    body:
      string: '{"goal":{"id":"b6c82c92-7a3f-4cd2-8113-cd6d77f01ed8","pretty_id":"4","name":"Goal
        to Delete","team_id":"90152245421","creator":272627274,"color":"#32a852","date_created":"1769471020649","start_date":null,"due_date":"1738368000000","description":"\n","private":false,"archived":false,"multiple_owners":false,"editor_token":"goal:b6c82c92-7a3f-4cd2-8113-cd6d77f01ed8:0b5a2d7e-e5f9-461c-a622-caaf8b391cc3:1f3c6bf6-1882-46e5-b3b8-78d13d73ceb9","date_updated":"1769471020649","folder_id":null,"folder_name":null,"role_subtype":0,"members":[],"group_members":[],"owners":[],"key_results":[],"key_result_count":0,"percent_completed":0,"history":[],"pretty_url":"https://app.clickup.com/90152245421/goals/4"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '94'
      x-ratelimit-reset:
      - '1769471021'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.clickup.com/api/v2/goal/b6c82c92-7a3f-4cd2-8113-cd6d77f01ed8
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769471082'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
