interactions:
- request:
    body: '{"name":"","due_date":0,"description":"","rem_owners":[],"add_owners":[],"color":""}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.clickup.com/api/v2/goal/e28a27f0-9571-4f9c-9f7a-4712f21b605e
  response:
    body:
      string: '{"goal":{"id":"e28a27f0-9571-4f9c-9f7a-4712f21b605e","pretty_id":"1","name":"","team_id":"90152245421","creator":272627274,"color":"","date_created":"1769470960912","start_date":null,"due_date":"0","description":"","private":false,"archived":false,"multiple_owners":true,"editor_token":"goal:e28a27f0-9571-4f9c-9f7a-4712f21b605e:854a8289-c57f-4e17-9403-eaca8bc352f5:57f35f4b-9ae1-461f-a511-a5a4a9a566d9","date_updated":"1769471020152","folder_id":null,"folder_name":null,"role_subtype":0,"members":[],"group_members":[],"owners":[],"key_results":[],"key_result_count":0,"percent_completed":0,"history":[],"pretty_url":"https://app.clickup.com/90152245421/goals/1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769471081'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
