interactions:
- request:
    body: '{"name":"Key Result to Update","owners":[],"type":"number","steps_start":0,"steps_end":100,"unit":"","task_ids":[],"list_ids":[]}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/goal/e28a27f0-9571-4f9c-9f7a-4712f21b605e/key_result
  response:
    body:
      string: '{"key_result":{"id":"26cefcb0-0a23-439d-940b-49c9977e61fa","goal_id":"e28a27f0-9571-4f9c-9f7a-4712f21b605e","name":"Key
        Result to Update","creator":272627274,"type":"number","date_created":"1769471022390","unit":"","workspace_id":"90152245421","goal_pretty_id":"1","percent_completed":null,"completed":false,"task_ids":[],"subcategory_ids":[],"owners":[],"last_action":{"id":"f6a6af22-90a0-4a1e-8b11-96af0758a817","key_result_id":"26cefcb0-0a23-439d-940b-49c9977e61fa","userid":272627274,"note":"Created
        Key Result","date_modified":"1769471022391","steps_before":null,"steps_taken":null,"steps_current":null,"steps_before_float":null,"steps_taken_float":null,"workspace_id":"90152245421"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769471083'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
- request:
    body: '{"steps_current":50,"note":"Progress made"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.clickup.com/api/v2/key_result/26cefcb0-0a23-439d-940b-49c9977e61fa
  response:
    body:
      string: '{"key_result":{"id":"26cefcb0-0a23-439d-940b-49c9977e61fa","goal_id":"e28a27f0-9571-4f9c-9f7a-4712f21b605e","name":"Key
        Result to Update","creator":272627274,"type":"number","date_created":"1769471022390","unit":"","workspace_id":"90152245421","goal_pretty_id":"1","percent_completed":null,"completed":false,"task_ids":[],"subcategory_ids":[],"owners":[],"last_action":{"id":"39b0d15c-b52a-4fbb-8a8d-0cfa639d5e80","key_result_id":"26cefcb0-0a23-439d-940b-49c9977e61fa","userid":272627274,"note":"Progress
        made","date_modified":"1769471022645","steps_before":null,"steps_taken":null,"steps_current":null,"steps_before_float":0,"steps_taken_float":50,"workspace_id":"90152245421"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769471083'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
