interactions:
- request:
    body: '{"name":"Key Result with Tasks","owners":[],"type":"percentage","steps_start":0,"steps_end":100,"unit":"%","task_ids":["86c7mc19h"],"list_ids":[]}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/goal/e28a27f0-9571-4f9c-9f7a-4712f21b605e/key_result
  response:
    body:
      string: '{"key_result":{"id":"9f6ae42f-8432-40f4-9c2f-8f093d019c34","goal_id":"e28a27f0-9571-4f9c-9f7a-4712f21b605e","name":"Key
        Result with Tasks","creator":272627274,"type":"percentage","date_created":"1769471022131","unit":"%","workspace_id":"90152245421","goal_pretty_id":"1","percent_completed":null,"completed":false,"task_ids":["86c7mc19h"],"subcategory_ids":[],"owners":[],"last_action":{"id":"5e85f60c-4eb2-4e04-9caf-47b81eee5bb5","key_result_id":"9f6ae42f-8432-40f4-9c2f-8f093d019c34","userid":272627274,"note":"Created
        Key Result","date_modified":"1769471022131","steps_before":null,"steps_taken":null,"steps_current":null,"steps_before_float":null,"steps_taken_float":null,"workspace_id":"90152245421"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '1769471082'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
