interactions:
- request:
    body: '{"name":"Test Goal from API","due_date":1738368000000,"description":"Test
      goal description","multiple_owners":false,"owners":[],"color":"#32a852"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/team/90152245421/goal
  response:
    body:
      string: '{"goal":{"id":"9533352c-4d64-4ef2-9d95-9b2422edfad8","pretty_id":"2","name":"Test
        Goal from API","team_id":"90152245421","creator":272627274,"color":"#32a852","date_created":"1769471018921","start_date":null,"due_date":"1738368000000","description":"Test
        goal description","private":false,"archived":false,"multiple_owners":false,"editor_token":"goal:9533352c-4d64-4ef2-9d95-9b2422edfad8:34c703ec-d97f-4016-8269-de596d65824b:c73c2876-04d9-4a88-bd51-a816ac9b1b1e","date_updated":"1769471018921","folder_id":null,"folder_name":null,"role_subtype":0,"members":[],"group_members":[],"owners":[],"key_results":[],"key_result_count":0,"percent_completed":0,"history":[],"pretty_url":"https://app.clickup.com/90152245421/goals/2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '96'
      x-ratelimit-reset:
      - '1769471021'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
