interactions:
- request:
    body: '{"name":"Key Result to Delete","owners":[],"type":"number","steps_start":0,"steps_end":100,"unit":"","task_ids":[],"list_ids":[]}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/goal/e28a27f0-9571-4f9c-9f7a-4712f21b605e/key_result
  response:
    body:
      string: '{"key_result":{"id":"a88a65dc-6275-4df4-9d41-d2296f2180a3","goal_id":"e28a27f0-9571-4f9c-9f7a-4712f21b605e","name":"Key
        Result to Delete","creator":272627274,"type":"number","date_created":"1769471022906","unit":"","workspace_id":"90152245421","goal_pretty_id":"1","percent_completed":null,"completed":false,"task_ids":[],"subcategory_ids":[],"owners":[],"last_action":{"id":"8d77ab07-b171-4554-b965-967473fe107b","key_result_id":"a88a65dc-6275-4df4-9d41-d2296f2180a3","userid":272627274,"note":"Created
        Key Result","date_modified":"1769471022906","steps_before":null,"steps_taken":null,"steps_current":null,"steps_before_float":null,"steps_taken_float":null,"workspace_id":"90152245421"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '1769471083'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
    method: DELETE
    uri: https://api.clickup.com/api/v2/key_result/a88a65dc-6275-4df4-9d41-d2296f2180a3
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769471084'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
