interactions:
- request:
    body: '{"name":"Test Key Result","owners":[],"type":"number","steps_start":0,"steps_end":100,"unit":"","task_ids":[],"list_ids":[]}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/goal/e28a27f0-9571-4f9c-9f7a-4712f21b605e/key_result
  response:
    body:
      string: '{"key_result":{"id":"3262d570-1921-4fa7-a682-4a208552e204","goal_id":"e28a27f0-9571-4f9c-9f7a-4712f21b605e","name":"Test
        Key Result","creator":272627274,"type":"number","date_created":"1769471021732","unit":"","workspace_id":"90152245421","goal_pretty_id":"1","percent_completed":null,"completed":false,"task_ids":[],"subcategory_ids":[],"owners":[],"last_action":{"id":"0c95fd9a-13e4-4f49-b068-a71ac3575072","key_result_id":"3262d570-1921-4fa7-a682-4a208552e204","userid":272627274,"note":"Created
        Key Result","date_modified":"1769471021732","steps_before":null,"steps_taken":null,"steps_current":null,"steps_before_float":null,"steps_taken_float":null,"workspace_id":"90152245421"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769471082'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
