interactions:
- request:
    body: ''
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
    method: GET
    uri: https://api.clickup.com/api/v2/list/901520401736/comment
  response:
    body:
      string: "{\"comments\":[{\"id\":\"90150189586874\",\"comment\":[{\"text\":\"Test
        list comment with assignee\"}],\"comment_text\":\"Test list comment with assignee\",\"user\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null},\"resolved\":false,\"assignee\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null},\"group_assignee\":null,\"assigned_by\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null},\"reactions\":[],\"date\":\"1769535459837\",\"reply_count\":0},{\"id\":\"90150189586872\",\"comment\":[{\"text\":\"Test
        list comment\"}],\"comment_text\":\"Test list comment\",\"user\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null},\"assignee\":null,\"group_assignee\":null,\"reactions\":[],\"date\":\"1769535459467\",\"reply_count\":0}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769535553'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
