interactions:
- request:
    body: '{"comment_text":"Test list comment","assignee":null,"notify_all":true}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/list/901520401736/comment
  response:
    body:
      string: '{"id":90150189588699,"hist_id":"4870f28c-e5a5-4454-a19e-f2fbbd013c7f","date":1769535680540,"version":{"object_type":"comment","object_id":"90150189588699","workspace_id":90152245421,"operation":"c","data":{"context":{"root_parent_type":6,"is_chat":false,"audit_context":{"userid":272627274,"current_time":1769535680481,"route":"*"},"originating_service":"publicapi"},"relationships":[{"type":"comment-author","object_type":"user","object_id":"272627274","workspace_id":90152245421},{"type":"comment-parent","object_type":"list","object_id":"901520401736","workspace_id":90152245421}],"changes":[{"field":"date_created","after":1769535680540}]},"master_id":31,"version":1769535680565000,"deleted":false,"traceparent":"7736066577996556200","date_created":1769535680565,"date_updated":1769535680565,"event_publish_time":1769535680571}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769535741'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
