interactions:
- request:
    body: '{"billable":false,"tid":"86c7mc19h"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/team/90152245421/time_entries/start
  response:
    body:
      string: "{\"data\":{\"id\":\"4927021473019559762\",\"task\":{\"id\":\"86c7mc19h\",\"name\":\"Task
        1\",\"status\":{\"status\":\"in progress\",\"id\":\"p90159451300_g9uxhsQM\",\"color\":\"#1090e0\",\"type\":\"custom\",\"orderindex\":1}},\"wid\":\"90152245421\",\"user\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null},\"billable\":false,\"start\":1769469504061,\"duration\":-562,\"description\":\"\",\"tags\":[],\"at\":1769469504061,\"is_locked\":false,\"task_location\":{}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '1769469564'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
