interactions:
- request:
    body: ''
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
    method: POST
    uri: https://api.clickup.com/api/v2/team/90152245421/time_entries/stop
  response:
    body:
      string: "{\"data\":{\"id\":\"4927021473019559762\",\"task\":{\"id\":\"86c7mc19h\",\"name\":\"Task
        1\",\"status\":{\"status\":\"in progress\",\"color\":\"#1090e0\",\"type\":\"custom\",\"orderindex\":1},\"custom_type\":null},\"wid\":\"90152245421\",\"user\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null},\"billable\":false,\"start\":\"1769469504061\",\"end\":1769469504820,\"duration\":759,\"description\":\"\",\"tags\":[],\"source\":\"api_automatic\",\"at\":1769469504820,\"is_locked\":false,\"approval_id\":null,\"task_location\":{}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '96'
      x-ratelimit-reset:
      - '1769469564'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
