interactions:
- request:
    body: '{"start":1737925200000,"duration":1800000,"billable":false,"tid":"86c7mc19h"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/team/90152245421/time_entries
  response:
    body:
      string: "{\"data\":{\"id\":\"4927022626604154715\",\"task\":{\"id\":\"86c7mc19h\",\"name\":\"Task
        1\",\"status\":{\"status\":\"in progress\",\"id\":\"p90159451300_g9uxhsQM\",\"color\":\"#1090e0\",\"type\":\"custom\",\"orderindex\":1}},\"wid\":\"90152245421\",\"user\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null,\"timezone\":\"Europe/Madrid\"},\"billable\":false,\"start\":1737925200000,\"end\":\"1737927000000\",\"duration\":1800000,\"description\":\"\",\"tags\":[],\"at\":1769469573082,\"is_locked\":false,\"task_location\":{}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769469633'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
    method: DELETE
    uri: https://api.clickup.com/api/v2/team/90152245421/time_entries/4927022626604154715
  response:
    body:
      string: "{\"data\":[{\"id\":\"4927022626604154715\",\"task\":{\"id\":\"86c7mc19h\",\"name\":\"Task
        1\",\"status\":{\"status\":\"in progress\",\"color\":\"#1090e0\",\"type\":\"custom\",\"orderindex\":1},\"custom_type\":null},\"wid\":\"90152245421\",\"user\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null},\"billable\":false,\"start\":\"1737925200000\",\"end\":\"1737927000000\",\"duration\":\"1800000\",\"description\":\"\",\"tags\":[],\"source\":\"api\",\"at\":\"1769469573082\",\"is_locked\":false,\"approval_id\":null,\"task_location\":{\"list_id\":\"901520000146\",\"folder_id\":\"901513462383\",\"space_id\":\"90159451300\"}}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769469633'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
