interactions:
- request:
    body: '{"start":1737925200000,"duration":3600000,"billable":false,"description":"Test
      manual entry"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/team/90152245421/time_entries
  response:
    body:
      string: '{"err":"Your plan is limited to {{limit}} usages of Advanced Time Tracking,
        {{usage}} usage.","ECODE":"TIMEENTRY_064"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769465167'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 403
      message: Forbidden
version: 1
