interactions:
- request:
    body: '{"name":"Test Checklist"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/checklist
  response:
    body:
      string: '{"checklist":{"id":"9ac88bb9-f5a0-4196-93e5-707ed7a19f27","task_id":"86c7mc19h","name":"Test
        Checklist","orderindex":7,"resolved":0,"unresolved":0,"items":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769458387'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name":"Test Checklist"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/checklist
  response:
    body:
      string: '{"checklist":{"id":"aba1e888-2b7e-4407-9b3c-56e3a9f0e4f5","task_id":"86c7mc19h","name":"Test
        Checklist","orderindex":16,"resolved":0,"unresolved":0,"items":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769458584'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
