interactions:
- request:
    body: '{"name":"Test Checklist"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/checklist
  response:
    body:
      string: '{"checklist":{"id":"143aaa01-22fe-4b98-ab9b-96794a1c5901","task_id":"86c7mc19h","name":"Test
        Checklist","orderindex":6,"resolved":0,"unresolved":0,"items":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769458386'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name":"Test Checklist"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/checklist
  response:
    body:
      string: '{"checklist":{"id":"b11d5873-39c7-44c5-957d-e54e232b7802","task_id":"86c7mc19h","name":"Test
        Checklist","orderindex":15,"resolved":0,"unresolved":0,"items":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769458584'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
