interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.clickup.com/api/v2/folder/901513787576/list?archived=false
  response:
    body:
      string: '{"lists":[{"id":"901520401736","name":"Test List","orderindex":0,"content":"","status":null,"priority":null,"assignee":null,"task_count":0,"due_date":null,"start_date":null,"folder":{"id":"901513787576","name":"Test
        Folder","hidden":false,"access":true},"space":{"id":"90159451300","name":"Team
        Space","access":true},"archived":false,"override_statuses":false,"permission_level":"create"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769436868'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
