interactions:
- request:
    body: '{"comment_text":"Test comment","notify_all":true}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/comment
  response:
    body:
      string: '{"id":90150188976129,"hist_id":"4926525936520483272","date":1769439968040,"version":{"object_type":"comment","object_id":"90150188976129","workspace_id":90152245421,"operation":"c","data":{"context":{"root_parent_type":1,"is_chat":false,"audit_context":{"userid":272627274,"current_time":1769439967837,"route":"*"},"originating_service":"publicapi"},"relationships":[{"type":"comment-author","object_type":"user","object_id":"272627274","workspace_id":90152245421},{"type":"comment-parent","object_type":"task","object_id":"86c7mc19h","workspace_id":90152245421}],"changes":[{"field":"date_created","after":1769439968040}]},"master_id":31,"version":1769439968066000,"deleted":false,"traceparent":"2891787393987733630","date_created":1769439968066,"date_updated":1769439968066,"event_publish_time":1769439968074}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769440028'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
