interactions:
- request:
    body: '{"name":"Test Folder Table"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/space/90159451300/folder
  response:
    body:
      string: '{"id":"901513799682","name":"Test Folder Table","orderindex":3,"override_statuses":false,"hidden":false,"space":{"id":"90159451300","name":"Team
        Space","access":true},"task_count":"0","archived":false,"statuses":[],"deleted":false,"lists":[],"permission_level":"create"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769453684'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
