interactions:
- request:
    body: '{"name":"Test Checklist"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/checklist
  response:
    body:
      string: '{"checklist":{"id":"2e133991-c5c6-4cfc-82ea-ce31fff8182d","task_id":"86c7mc19h","name":"Test
        Checklist","orderindex":8,"resolved":0,"unresolved":0,"items":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769458387'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name":"Test Checklist"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/checklist
  response:
    body:
      string: '{"checklist":{"id":"3f29ccb5-d1c5-4980-bc36-0faf31ce2374","task_id":"86c7mc19h","name":"Test
        Checklist","orderindex":17,"resolved":0,"unresolved":0,"items":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '1769458584'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
