interactions:
- request:
    body: '{"name":"Updated Name"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.clickup.com/api/v2/checklist/143aaa01-22fe-4b98-ab9b-96794a1c5901
  response:
    body:
      string: '{"checklist":{"id":"143aaa01-22fe-4b98-ab9b-96794a1c5901","task_id":"86c7mc19h","name":"Updated
        Name","date_created":"1769458326070","orderindex":6,"creator":272627274,"resolved":0,"unresolved":1,"items":[{"id":"9a6fdb6b-83c2-48e5-9dd2-4b1749dbe966","name":"Test
        Item","orderindex":null,"assignee":null,"group_assignee":null,"resolved":false,"parent":null,"date_created":"1769458524483","start_date":null,"start_date_time":false,"due_date":null,"due_date_time":false,"sent_due_date_notif":null,"children":[]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769458585'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
