interactions:
- request:
    body: "--fad000648ab8693f93f70542c28a31ae\r\nContent-Disposition: form-data; name=\"attachment\";
      filename=\"/private/var/folders/7b/pp53qjrs5gd7nd68jk5c0chc0000gn/T/pytest-of-kaofelix/pytest-3/test_create_task_attachment_wi0/test.txt\"\r\nContent-Type:
      application/octet-stream\r\n\r\nTest content\r\n--fad000648ab8693f93f70542c28a31ae--\r\n"
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - multipart/form-data; boundary=fad000648ab8693f93f70542c28a31ae
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/attachment
  response:
    body:
      string: '{"id":"da63e93e-349f-4416-88a2-a68219550aab.txt","version":"0","date":1769473376575,"name":"test.txt","title":"test.txt","extension":"txt","source":1,"thumbnail_small":null,"thumbnail_medium":null,"thumbnail_large":null,"url":"https://t90152245421.p.clickup-attachments.com/t90152245421/da63e93e-349f-4416-88a2-a68219550aab/test.txt","url_w_query":"https://t90152245421.p.clickup-attachments.com/t90152245421/da63e93e-349f-4416-88a2-a68219550aab/test.txt?view=open","url_w_host":"https://t90152245421.p.clickup-attachments.com/t90152245421/da63e93e-349f-4416-88a2-a68219550aab/test.txt"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769473420'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
