interactions:
- request:
    body: '{"name":"Test Checklist from API"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/checklist
  response:
    body:
      string: '{"checklist":{"id":"f73cd146-f271-4a9e-8ef0-93e8c4973532","task_id":"86c7mc19h","name":"Test
        Checklist from API","orderindex":1,"resolved":0,"unresolved":0,"items":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769458196'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name":"Test Checklist from API"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/checklist
  response:
    body:
      string: '{"checklist":{"id":"96a92b0a-5116-4aa2-81eb-248a0a4f67c2","task_id":"86c7mc19h","name":"Test
        Checklist from API","orderindex":5,"resolved":0,"unresolved":0,"items":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769458379'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
