interactions:
- request:
    body: '{"name":"Test List from API"}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/folder/901513787576/list
  response:
    body:
      string: '{"id":"901520418575","name":"Test List from API","deleted":false,"orderindex":1,"content":"","priority":null,"assignee":null,"task_count":0,"due_date":null,"start_date":null,"folder":{"id":"901513787576","name":"Test
        Folder","hidden":false,"access":true},"space":{"id":"90159451300","name":"Team
        Space","access":true},"inbound_address":"a.t.901520418575.u-272627274.7ef2b7e3-a8a0-46b7-8adb-b4406d0d5646@tasks.clickup.com","archived":false,"override_statuses":false,"statuses":[{"id":"p90159451300_DCnaeiSB","status":"to
        do","orderindex":0,"color":"#87909e","type":"open","status_group":"proj_90159451300"},{"id":"p90159451300_g9uxhsQM","status":"in
        progress","orderindex":1,"color":"#1090e0","type":"custom","status_group":"proj_90159451300"},{"id":"p90159451300_syqLtYOY","status":"complete","orderindex":2,"color":"#008844","type":"closed","status_group":"proj_90159451300"}],"permission_level":"create"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769456762'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
