interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.clickup.com/api/v2/team
  response:
    body:
      string: "{\"teams\":[{\"id\":\"90152245421\",\"name\":\"Test\",\"color\":\"#40BC86\",\"avatar\":null,\"members\":[{\"user\":{\"id\":272627274,\"username\":\"Kao
        Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"profilePicture\":null,\"initials\":\"KF\",\"role\":1,\"role_subtype\":0,\"role_key\":\"owner\",\"custom_role\":null,\"last_active\":\"1768902925448\",\"date_joined\":\"1768558001241\",\"date_invited\":\"1768558001241\"}}]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769431553'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
