interactions:
- request:
    body: '{"comment_text":"Test comment with assignee","notify_all":true,"assignee":183}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/task/86c7mc19h/comment
  response:
    body:
      string: '{"id":90150188973520,"hist_id":"4926521894318724723","date":1769439727098,"version":{"object_type":"comment","object_id":"90150188973520","workspace_id":90152245421,"operation":"c","data":{"context":{"root_parent_type":1,"is_chat":false,"audit_context":{"userid":272627274,"current_time":1769439726740,"route":"*"},"originating_service":"publicapi"},"relationships":[{"type":"comment-author","object_type":"user","object_id":"272627274","workspace_id":90152245421},{"type":"comment-parent","object_type":"task","object_id":"86c7mc19h","workspace_id":90152245421}],"changes":[{"field":"date_created","after":1769439727098}]},"master_id":31,"version":1769439727132000,"deleted":false,"traceparent":"3838034133303772293","date_created":1769439727132,"date_updated":1769439727132,"event_publish_time":1769439727140}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769439787'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
