interactions:
- request:
    body: ''
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
    method: GET
    uri: https://api.clickup.com/api/v2/list/901520401736/member
  response:
    body:
      string: "{\"members\":[{\"id\":272627274,\"username\":\"Kao Cardoso F\xE9lix\",\"email\":\"me@kaofelix.dev\",\"color\":\"#595d66\",\"initials\":\"KF\",\"profilePicture\":null,\"profileInfo\":{\"display_profile\":null,\"verified_ambassador\":null,\"verified_consultant\":null,\"top_tier_user\":null,\"ai_expert\":null,\"viewed_verified_ambassador\":null,\"viewed_verified_consultant\":null,\"viewed_top_tier_user\":null,\"viewed_ai_expert\":null}}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1769459005'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
