interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.clickup.com/api/v2/team/90152245421/space
  response:
    body:
      string: '{"spaces":[{"id":"90159451300","name":"Team Space","color":"#03A2FD","private":false,"avatar":null,"admin_can_manage":true,"statuses":[{"id":"p90159451300_DCnaeiSB","status":"to
        do","type":"open","orderindex":0,"color":"#87909e"},{"id":"p90159451300_g9uxhsQM","status":"in
        progress","type":"custom","orderindex":1,"color":"#1090e0"},{"id":"p90159451300_syqLtYOY","status":"complete","type":"closed","orderindex":2,"color":"#008844"}],"multiple_assignees":true,"features":{"due_dates":{"enabled":true,"start_date":true,"remap_due_dates":true,"remap_closed_due_date":false},"sprints":{"enabled":false},"time_tracking":{"enabled":true,"harvest":false,"rollup":false,"default_to_billable":2},"points":{"enabled":false},"custom_items":{"enabled":false},"priorities":{"enabled":true,"priorities":[{"color":"#f50000","id":"1","orderindex":"1","priority":"urgent"},{"color":"#f8ae00","id":"2","orderindex":"2","priority":"high"},{"color":"#6fddff","id":"3","orderindex":"3","priority":"normal"},{"color":"#d8d8d8","id":"4","orderindex":"4","priority":"low"}]},"tags":{"enabled":true},"time_estimates":{"enabled":true,"rollup":false,"per_assignee":false},"check_unresolved":{"enabled":true,"subtasks":null,"checklists":null,"comments":null},"milestones":{"enabled":false},"custom_fields":{"enabled":true},"remap_dependencies":{"enabled":true},"dependency_warning":{"enabled":true},"status_pies":{"enabled":false},"multiple_assignees":{"enabled":true},"emails":{"enabled":true},"scheduler_enabled":false,"dependency_type_enabled":false,"dependency_enforcement":{"enforcement_enabled":false,"enforcement_mode":0},"reschedule_closed_dependencies":true},"archived":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769431600'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
