interactions:
- request:
    body: '{"name":"Test Item with Assignee","assignee":183}'
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clickup.com/api/v2/checklist/f73cd146-f271-4a9e-8ef0-93e8c4973532/checklist_item
  response:
    body:
      string: '{"err":"Assignees must have access to the checklist","ECODE":"CHECK_026"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769458285'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 400
      message: Bad Request
version: 1
