interactions:
- request:
    body: ''
    headers:
      Authorization:
      - pk_272627274_QZU8LEFFQ2CDW3ASOXATNG51Q2I45PRY
    method: GET
    uri: https://api.clickup.com/api/v2/space/90159451300/tag
  response:
    body:
      string: '{"tags":[{"name":"test-tag","project_id":"90159451300","tag_fg":"#622aea","tag_bg":"#622aea","creator":272627274}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1769459575'
      x-received-from:
      - shard-prod-eu-west-1-3
    status:
      code: 200
      message: OK
version: 1
